% rebase('templates/base.html')

<script language="javascript">
    $( document ).ready(function() {
        console.log( "ready!" );
        var fingerprint = new Fingerprint().get();
        $("#token").val(fingerprint)
    });
</script>


<div name="newpollform">

    <form  method="POST" action="{{hostname}}/newpoll">
        <h3>Input poll info</h3>

        <p>Caption</p>
        <input type="TEXT" name="caption">

        <p>Item #1</p>
        <input type="TEXT" name="item_1">

        <p>Item #2</p>
        <input type="TEXT" name="item_2">

        <p>Item #3</p>
        <input type="TEXT" name="item_3">

        <input type="HIDDEN" name="countOfItems" value = "3">
        <input type="HIDDEN" name="token" value = "">

        <p>Allow several votes from one IP
            <input type="CHECKBOX" name="allowDoubleIP" > </input>
        </p>
        </br>
        
<!--        <p>Allow several votes from one browser</p>-->
        <!--<input type="radio" checked="checked" />-->


        </br>
        <input type="SUBMIT" disabled="disabled">

    </form>

</div>

