% rebase('templates/base.html')

<script language="javascript">
    $( document ).ready(function() {
        $("#btnAdd").click(function (){
            console.log("adding....");
            count = parseInt($("countOfItems").val());
            console.log( count.toString() );
            count = count + 1;
            $("countOfItems").val(count.toString());
            $("#items").append("<p>Item #" + count.toString() +"</p>  <input type='TEXT' name='item_" + count.toString() + "'> ")
        });
        console.log( "ready!" );
    });


</script>


<div name="newpollform">

    <form  method="POST" action="{{hostname}}/newpoll">
        <h3>Input poll info</h3>

        <p>Caption</p>
        <input type="TEXT" name="caption">

        <div id=items>
            <p>Item #1</p>
            <input type="TEXT" name="item_1">

            <p>Item #2</p>
            <input type="TEXT" name="item_2">

            <p>Item #3</p>
            <input type="TEXT" name="item_3">

        </div>

        <input type="HIDDEN" name="countOfItems" id="countOfItems" value = "3">
        <!--<input type="HIDDEN" name="token" id="token" value = "">-->

        <p>Allow several votes from one IP
            <input type="CHECKBOX" name="allowDoubleIP" > </input>
        </p>
        </br>
        
        <p>Allow several votes from one browser
        <input type="CHECKBOX" checked="checked" name="allowDoubleTokens" />
        </p>

        <input type="BUTTON" id=btnAdd value="Add Item"> </input>

        </br>
        <input type="SUBMIT">

    </form>

</div>

