% rebase('templates/base.html')


<script language="javascript">
    $( document ).ready(function() {
        console.log( "ready!" );
        var fingerprint = new Fingerprint().get();
        $("#token").val(fingerprint)
    });
</script>


    <h3>Poll</h3>
    <h3>{{poll.name}}</h3>
    <h4>Text results</h4>

    <h4><a href={{hostname}}/poll/{{poll.url}}>Return to poll</a></h4>

    <input type="HIDDEN" name=url value="{{poll.url}}" />

    % count = 0
    % for item in poll.items:
        % count += item.votes.count()
    % end

    % for item in poll.items:
        % if count == 0:
            % curPart = 0
        % end
        % if count != 0:
            % curPart = item.votes.count()/float(count)
        % end
        % curPart = '%10.4f' % (curPart * 100.0)
        <p type="RADIO" name="choice" value="{{item.position}}"> {{item.caption}} | Votes: {{item.votes.count()}} / {{curPart}}%</p>
    % end
